<?xml version="1.0" encoding="utf-8" ?>
<!-- When you want to edit this file while running the programm you need to go to \bin\Debug\net8.0-windows\AppClient.dll.config -->
<configuration>
    <appSettings>
        <!-- Map1 Constants -->
            <add key="ChangeToUnknownMap1" value="4" /> <!-- best 4 (1221) -->
            <add key="TryFinishMap1" value="999" /> <!-- Not relevant for this map so very high -->
            <add key="IgnoreUnknownXMap1" value="0" /> <!-- Not relevant for this map so 0 -->
            <add key="IgnoreUnknownYMap1" value="0" /> <!-- Not relevant for this map so 0 -->
            <add key="FinishCoinCounterMap1" value="404" /> <!-- best 404 (1221) -->
            <add key="LookThresholdMap1" value="0" /> <!-- best 0 (1221) -->
        <!-- Map2 Constants -->
            <add key="ChangeToUnknownMap2" value="10" /> <!-- best 10 (1359) -->
            <add key="TryFinishMap2" value="999" /> <!-- Not relevant for this map so very high -->
            <add key="IgnoreUnknownXMap2" value="0" /> <!-- Not relevant for this map so 0 -->
            <add key="IgnoreUnknownYMap2" value="0" /> <!-- Not relevant for this map so 0 -->
            <add key="FinishCoinCounterMap2" value="332" /> <!-- best 332 (1359) -->
            <add key="LookThresholdMap2" value="4" /> <!-- best 4 (1359) -->
        <!-- Map3 Constants -->
            <add key="ChangeToUnknownMap3" value="20" /> <!-- best 20 (323) -->
            <add key="TryFinishMap3" value="20" /> <!-- best 20 (323) -->
            <add key="IgnoreUnknownXMap3" value="5" /> <!-- best 5 (323) -->
            <add key="IgnoreUnknownYMap3" value="2" /> <!-- best 2 (323) -->
            <add key="FinishCoinCounterMap3" value="20" /> <!-- best 20 (323) -->
            <add key="LookThresholdMap3" value="4" /> <!-- best 4 (323) -->
        <!-- Map4 Constants -->
            <add key="ChangeToUnknownMap4" value="3" /> <!-- best 3 (281) -->
            <add key="TryFinishMap4" value="999" /> <!-- best 999 (281) -->
            <add key="IgnoreUnknownXMap4" value="0" /> <!-- best 0 (281) -->
            <add key="IgnoreUnknownYMap4" value="0" /> <!-- best 0 (281) -->
            <add key="FinishCoinCounterMap4" value="55" /> <!-- best 55 (281) -->
            <add key="LookThresholdMap4" value="4" /> <!-- best 4 (281) -->
    </appSettings>
</configuration>